.button-container {
    display:flex;
    justify-content: flex-end;
    margin: 8% 4% 0 0;
}

.title {
    text-align: center;
}

.detail-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    width:100%;
}

.create-item-container {
    margin:2% 0 0 2%;
    width:100%;
}

