.App {
  display: flex;
  flex-direction: row;
  padding:30px;
}

.create-container {
  display: flex;  
  flex-direction: column;
  width:30%;
}
.header-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  display:flex;
}
.created-items-container{
  width:70%;
}